body{
    display: block;
    margin: 0px;
    padding: 0px;
}

.topbar{
    display: flex;
    border: 2px solid green;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    height: fit-content;
    width: 100%;
    background-color: burlywood;
    
}

/* .topbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: .7;
} */
.logo {
    border: 2px solid red;
    height: 90px;
    width: 90px;
}

.logo img {
    top: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.nav ul li{
    display: inline;
    list-style: none;
    margin: 2px;
    padding: 2px;
    border: blue solid 2px;
    
}
.nav ul li a{
    text-decoration: none;
}
.sidebar input{
    display: block;
}
.content_title{
    display:flex;
    justify-content: center;
}
.tab ol li p:hover{
    cursor:pointer;
}