<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
style.
    body {
        margin: 0px;
        padding: 0px;
    }
    //- body::before{
    //-     content:"";
    //-     background:url('img/bg4.jpg') center center/cover no-repeat;
    //-     position:absolute;
    //-     height:100%;
    //-     width:100%;
    //-     top: 0;
    //-     bottom: 0;
    //-     z-index: -1;
    //-     opacity: .6;
    //- }
    #my_logo {
        margin: 0px;
        padding: 0px;
        height: 100px;
        width: 100px;
    }

    .logo img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        margin-left: 15px;
    }

    #navigation_id {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: aqua;
    }

    #nav_options ul {
        display: flex;
        justify-content: space-between;
    }

    #nav_options ul li {
        display: inline-block;
        list-style: none;

    }

    #nav_options ul li a {
        text-decoration: none;
        margin: 15px;
        padding: 5px;

    }

    #nav_options ul li a:hover {
        border: 3px solid brown;
        border-radius: 13px;
        color: black;
        background-color: white;
    }
    #commont{
        position: fixed;
    }
    #advance input{
        display: block;
    }
    .btn{
        border: solid 2px brown;
        border-radius: 10px;
        margin:2px;
        padding: 2px;
    }
    #content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #content ul li{
        list-style: none;
        
    }
    #content ul li a{
        display: block;
        margin: 15px;
        padding: 15px;
        border: solid 2px brown;
        text-decoration: none;
        border-radius: 18px;
    }
    #content ul li a:hover{
        color: white;
        background-color: black;
    }
    #about{
        text-align: center;
    }
    #about h1{
        color: white;
        background-color: black;
    }
    .footer{
        color: white;
        background-color: black;
        text-align: center;
    }
script.
    function show_advance() {
        var x = document.getElementById("advance").style;
        if (x.display === "none") {
            x.display = "block";
        } else {
            x.display = "none";
        }
    }
    

<body>
    <header class="navigation_bar" id="navigation_id">
        <div class="logo" id="my_logo">
            <a href="http://avernus1305.me/"><img src="img/logo.jpg" alt="my logo"></a>
        </div>
        <div class="nav_bar" id="nav_options">
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/Public">Public University</a></li>
                <li><a href="/Private">Private University</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="search" id="search_options">
            <div id="common">
                <input type="text" placeholder="Enter Varsity Name">
                <button class="btn" onclick="show_advance()">Advance Search</button>
            </div>

            <div id="advance" style="display: none;">
                <input type="text" placeholder="Specialization">
                <input type="text" placeholder="District">
                <input type="text" placeholder="Division">
                <input type="text" placeholder="Founded">
            </div>
            <div id="submit">
                <button class="btn">search</button>
            </div>
        </div>
        
    </header>
    <section id="content">
        <ul>
            <li> <a href="/Agricultural">Agricultural University</a> </li>
            <li> <a href="/Engineering">Engineering University</a> </li>
            <li> <a href="/Medical">Medical University</a> </li>
            <li> <a href="/Science&Technology">Science and Technology University</a> </li>
            <li> <a href="/General">General University</a></li>
            <li> <a href="/#">Other University</a></li>
        </ul>
    </section>
    <section id="about">
        <h1>About</h1>
        <h3>This is a website which contains some information about the all kind of University In Bangladesh</h3>
        <h3>The links of all the versity is provided.The departments of the respective university</h3>
        <h3>will be updated later.</h3>
    </section>
    <footer class="footer">
        <h2>Click the image to see the portfolio of the owner</h2>
    </footer>
</body>

</html>