extends homepage_navbar.pug
style.
    body {
        margin: 0px;
        padding: 0px;
    }
    //- body::before{
    //-     content:"";
    //-     background:url('img/bg4.jpg') center center/cover no-repeat;
    //-     position:absolute;
    //-     height:100%;
    //-     width:100%;
    //-     top: 0;
    //-     bottom: 0;
    //-     z-index: -1;
    //-     opacity: .6;
    //- }
    
    #content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #content ul li{
        list-style: none;
        
    }
    #content ul li a{
        display: block;
        margin: 15px;
        padding: 15px;
        border: solid 2px brown;
        text-decoration: none;
        border-radius: 18px;
    }
    #content ul li a:hover{
        color: white;
        background-color: black;
    }
    #about{
        text-align: center;
    }
    #about h1{
        color: white;
        background-color: black;
    }
    .footer{
        color: white;
        background-color: black;
        text-align: center;
    }

    

<body>
    block content
    <section id="content">
        <ul>
            <li> <a href="/Agricultural">Agricultural University</a> </li>
            <li> <a href="/Engineering">Engineering University</a> </li>
            <li> <a href="/Medical">Medical University</a> </li>
            <li> <a href="/Science&Technology">Science and Technology University</a> </li>
            <li> <a href="/General">General University</a></li>
            <li> <a href="/#">Other University</a></li>
        </ul>
    </section>
    <section id="about">
        <h1>About</h1>
        <h3>This is a website which contains some information about the all kind of University In Bangladesh</h3>
        <h3>The links of all the versity is provided.The departments of the respective university</h3>
        <h3>will be updated later.</h3>
    </section>
    <footer class="footer">
        <h2>Click the image to see the portfolio of the owner</h2>
    </footer>
</body>

</html>