<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    block style
      style
        include navigation_bar_css.css
</head>

block script
  script.
    function show_advance() {
        var x = document.getElementById("advance").style;
        if (x.display === "none") {
            x.display = "block";
        } else {
            x.display = "none";
        }
    }
    


<body>
    <header class="navigation_bar" id="navigation_id">
        <div class="logo" id="my_logo">
           <a href="http://avernus1305.me/"><img src="img/logo.jpg" alt="my logo"></a> 
        </div>
        <div class="nav_bar" id="nav_options">
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/Public">Public University</a></li>
                <li><a href="/Private">Private University</a></li>
                <li><a href="/">About</a></li>
            </ul>
        </div>
        <div class="search" id="search_options">
            <div id="common">
                <input type="text" placeholder="Enter Varsity Name">
                <button class="btn" onclick="show_advance()">Advance Search</button>
            </div>

            <div id="advance" style="display: none;">
                <input type="text" placeholder="Specialization">
                <input type="text" placeholder="District">
                <input type="text" placeholder="Division">
                <input type="text" placeholder="Founded">
            </div>
            <div id="submit">
                <button class="btn">search</button>
            </div>
        </div>
    </header>
    block contents
</body>

</html>